# Step 1. The setup

In [1]:
# import dependences
import pandas as pd # so we can play with data frames
import os # we have a lot of csvs to import, this will make it easier for us and automate the process
import numpy as np #We'll need to run some simple stats

In [2]:
os.listdir("Resources") # Seeing our csvs

['audi.csv',
 'bmw.csv',
 'cclass.csv',
 'focus.csv',
 'ford.csv',
 'hyundi.csv',
 'merc.csv',
 'skoda.csv',
 'toyota.csv',
 'unclean cclass.csv',
 'unclean focus.csv',
 'vauxhall.csv',
 'vw.csv']

In [3]:
len(os.listdir("Resources")) # There's 13

13

In [4]:
csv_list = os.listdir("Resources") # Putting it into a variable will be easier to review

In [5]:
for i in csv_list:
    print(i) # it worked!

audi.csv
bmw.csv
cclass.csv
focus.csv
ford.csv
hyundi.csv
merc.csv
skoda.csv
toyota.csv
unclean cclass.csv
unclean focus.csv
vauxhall.csv
vw.csv

# Step 2. Prepare conversion

In [6]:
#let's look at what's in these
for csv in csv_list: # Now lets loop through and transfer everything to a dataframe
    df = pd.read_csv(f"Resources/{csv}")
    print(len(df.columns))

9
9
7
7
9
9
9
9
9
11
11
9
9

In [7]:
df_holder = [] # We need the CSVs in dataframe form
for csv in csv_list: # Now lets loop through and transfer everything to a datagrame (I know there's an easier way to do this, but this is broke down at a simplier level)
    df = pd.read_csv(f"Resources/{csv}")
    df['maker'] = csv.split('.')[0]
    if 'fuel type' in df.columns: #get rid of that duplicate
        df = df.rename(columns={"fuel type": 'fuelType'})
        
    if 'tax(£)' in df.columns:
        df['tax(£)'] = df['tax(£)'] * 1.38
        df = df.rename(columns={'tax(£)' : 'tax'}) # and this duplicate
        
    if 'engine size' in df.columns:
        df = df.rename(columns={'engine size' : 'engineSize'}) # and this duplicate       
    df_holder.append(df)
df = pd.concat(df_holder)

# Step 3: Preprocessing

In [12]:
import math
for row in range(len(df['model'])): # row it
    a_string = df['engineSize'].iloc[row] # put into string
    try:
        if math.isnan(float(a_string)): # see if a NaN
            pass
    except:
        numeric_filter = filter(str.isdigit,a_string) #if error, that means there's some non numerical charecter
        numeric_string = "".join(numeric_filter)
        df['engineSize'].iloc[row] = numeric_string   # it is removed

C:\Users\dhlec\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [13]:
import math
for row in range(len(df['model'])):
    a_string = df['mileage'].iloc[row]
    try:
        if math.isnan(float(a_string)):
            pass
    except:
        numeric_filter = filter(str.isdigit,a_string)
        numeric_string = "".join(numeric_filter)
        df['mileage'].iloc[row] = numeric_string

In [14]:
for column in df.columns:
    print(column, df[column].isnull().sum())

model 155
year 247
price 155
transmission 155
mileage 1073
fuelType 6093
tax 18963
mpg 18963
engineSize 265
maker 0
mileage2 108751
fuel type2 109613
engine size2 109613
reference 108695

In [15]:
holding_list = [] # holding list
for i in df['engineSize']: # for it
    try:
        int(i) # see if it's an int
        holding_list.append(float(i)) #
    except:
        if math.isnan(float(i)): #if not, check to see nan
            pass
        else: #number we can play with
            holding_list.append(float(i))
np.mean(holding_list)
df['engineSize'] = df['engineSize'].fillna(np.mean(holding_list))

In [16]:
for column in df.columns:
    print(column, df[column].isnull().sum())

model 155
year 247
price 155
transmission 155
mileage 1073
fuelType 6093
tax 18963
mpg 18963
engineSize 0
maker 0
mileage2 108751
fuel type2 109613
engine size2 109613
reference 108695

In [17]:
df = df.replace(r'^\s*$', np.nan, regex=True) # replace empty strings in df

In [18]:
holding_list = []
for i in df['mileage']:
    try:
        int(i)
        holding_list.append(float(i))
    except:
        if math.isnan(float(i)):
            pass
        else:
            holding_list.append(float(i))
np.mean(holding_list)
df['mileage'] = df['mileage'].fillna(np.mean(holding_list))

In [19]:
for column in df.columns:
    print(column, df[column].isnull().sum())

model 155
year 247
price 155
transmission 155
mileage 0
fuelType 6093
tax 18963
mpg 18963
engineSize 0
maker 0
mileage2 108751
fuel type2 109613
engine size2 109613
reference 108695

In [21]:
df[df['model'].isnull()]

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,maker,mileage2,fuel type2,engine size2,reference
20,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean cclass,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean cclass,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean cclass,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean cclass,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean cclass,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5087,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean focus,NaN,NaN,NaN,NaN
5088,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean focus,NaN,NaN,NaN,NaN
5089,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean focus,NaN,NaN,NaN,NaN
5090,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean focus,NaN,NaN,NaN,NaN
5091,NaN,NaN,NaN,NaN,23036.7,NaN,NaN,NaN,10.7581,unclean focus,NaN,NaN,NaN,NaN

In [29]:
# solo_df = pd.read_csv("Resources/unclean focus.csv")
for column in solo_df.columns:
    print(column, solo_df[column].isnull().sum())

model 0
year 89
price 0
transmission 0
mileage 819
fuel type 3360
engine size 45
mileage2 39
fuel type2 819
engine size2 819
reference 0

In [28]:
solo_df = solo_df.dropna(axis = 0, how = 'all')